[Tweet]
consumer_key: REPLACE_ME_WITH_REAL_VALUE
consumer_secret: REPLACE_ME_WITH_REAL_VALUE
access_key: REPLACE_ME_WITH_REAL_VALUE
access_secret: REPLACE_ME_WITH_REAL_VALUE
tipdoge_api_key:REPLACE_ME_WITH_REAL_VALUE
sentiment140_api_key: REPLACE_ME_WITH_REAL_VALUE
